@media screen and (min-width: 1120px) {
    .header__buttons-second li p{
        display: block;
    }
    .article__text div:first-child{
        max-width: 60%;
    }
    .article__text p {
        padding-right: 48px;
    }
}