@media (min-width: 0px) and (max-width: 599px) {
    .header__buttons-first {
        display: none;
    }
    .header__menu {
        visibility: visible;
        padding-right: 0;
        padding-left: 16px;
    }
    .header__container-logo-buttons {
        visibility: visible;
        padding-right: 16px;
    }
    .header__buttons-second{
        padding-left: 16px;
    }
    .article__text {
        flex-direction: column;
    }
}
