@media screen and (min-width: 600px) and (max-width: 1119px) {
    .header__buttons-first {
        visibility: visible;
    }
    .header__menu {
        visibility: visible;
    }
    .header__container-logo-buttons {
        visibility: visible;
    }
    .header__container-logo-buttons:before{
        visibility: visible;
    }

    .header__buttons-second{
        padding-left: 0;
    }
    .article__text div:first-child p:nth-last-child(2){
        display: none;
    }
    .article__text p {
        padding-right: 48px;
    }
}