.menu__header-close-logo{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

.menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 24px;
}