.menu {
    left: 0;
    top: 0;
    position: fixed;
    min-width: 320px;
    font-family: "TTLakes", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    height: 100%;
    visibility: visible;
    background: #FFFFFF;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
}

.inner-container {
    padding: 24px;
    border: #1B1C21 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

button {
    border-style: none;
    background-color: white;
    padding: 0;
}

a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #1B1C21;
    font-weight: bold;
    /*border: #1B1C21 1px solid;*/
}

a:hover{
    opacity: 0.5;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: #1B1C21 1px solid;*/
}
