@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 400;
    src:
            local("Roboto-Regular"),
            url("../../assets/fonts/TTLakes-Regular.woff") format("woff");
}

html, body {
    width: 320px;
    margin: 0;
    padding: 0;
    font-family: "TTLakes", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    height: 100%;
}
button {
    border-style: none;
    background-color: white;
}

a {
    text-decoration: none;
    color: #1B1C21;
}

.menu__container {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90%;
}

.menu__footer {
    height: auto;
}