.article__title {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
    letter-spacing: -0.6px;
    font-weight: bold;
}

.article__title:before{
    content:url("../../assets/icons/highlight.svg");
}
