@media screen and (min-width: 600px) and (max-width: 1119px) {
    .header__buttons {
        visibility: visible;
    }
    .header__logo-buttons {
        visibility: visible;
    }
    .header__logo-buttons:before{
        visibility: visible;
    }

    .service-buttons{
        padding-left: 0;
    }
}