.article__nav {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    align-items: center;
    padding-left: 24px;
    color: #7E7E82;
    white-space: nowrap;
}

.article__nav li:first-child{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
}

.article__nav li {
    padding: 8px;
}