.menu__footer-buttons{
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    /*justify-content: flex-start;*/
    width: auto;
    gap: 8px;

}

.menu__footer-container-data {
    padding: 0 0 0 24px;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
}

.menu__footer-contacts {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 8px 0 8px 0;
    justify-content: space-around;
    gap: 8px;
}

.menu__footer-lang {
    display: flex;
    list-style-type: none;
    padding: 0 0 0 24px;
}

.menu__footer-tel {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;
}